openapi: "3.1.0"
info:
  title: MCPist API
  version: "1.0.0"
  description: >-
    MCPist API — connect AI assistants to external tools
    via the Model Context Protocol (MCP).

servers:
  - url: https://mcp.mcpist.app
    description: Production
  - url: https://mcp.dev.mcpist.app
    description: Development

paths:
  # ── System ───────────────────────────────────────────────────
  /health:
    get:
      operationId: getHealth
      summary: Health check
      tags: [system]
      responses:
        "200":
          description: Service is healthy

  /openapi.json:
    get:
      operationId: getOpenApiSpec
      summary: OpenAPI specification
      tags: [system]
      responses:
        "200":
          description: OpenAPI 3.1 JSON document

  # ── OAuth Discovery ──────────────────────────────────────────
  /.well-known/oauth-protected-resource:
    get:
      operationId: getOAuthProtectedResource
      summary: OAuth Protected Resource Metadata (RFC 9728)
      tags: [oauth-discovery]
      responses:
        "200":
          description: Protected resource metadata JSON

  /.well-known/oauth-authorization-server:
    get:
      operationId: getOAuthAuthorizationServer
      summary: OAuth Authorization Server Metadata (RFC 8414)
      tags: [oauth-discovery]
      responses:
        "200":
          description: Authorization server metadata JSON

  /v1/mcp/.well-known/oauth-protected-resource:
    get:
      operationId: getV1McpOAuthProtectedResource
      summary: MCP-scoped OAuth Protected Resource Metadata
      tags: [oauth-discovery]
      responses:
        "200":
          description: Protected resource metadata JSON

  /v1/mcp/.well-known/oauth-authorization-server:
    get:
      operationId: getV1McpOAuthAuthorizationServer
      summary: MCP-scoped OAuth Authorization Server Metadata
      tags: [oauth-discovery]
      responses:
        "200":
          description: Authorization server metadata JSON

  # ── MCP Transport ──────────────────────────────────────────
  /v1/mcp/{path}:
    post:
      operationId: mcpTransport
      summary: MCP transport endpoint (Streamable HTTP)
      description: >-
        Accepts MCP protocol messages (JSON-RPC 2.0) and returns responses.
        Supports initialize, tools/list, tools/call, prompts/list, prompts/get,
        and other standard MCP methods.
      tags: [mcp]
      security:
        - bearerAuth: []
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: MCP transport sub-path
      responses:
        "200":
          description: MCP JSON-RPC response
        "401":
          description: Unauthorized
        "503":
          description: Service unavailable

  # ── Modules (public + user-scoped) ─────────────────────────
  /v1/modules:
    get:
      operationId: listModules
      summary: List available modules with their tools
      tags: [modules]
      responses:
        "200":
          description: Module list with tool definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ModuleWithTools"

  /v1/modules/config:
    get:
      operationId: getModuleConfig
      summary: Get module configuration
      tags: [modules]
      security:
        - bearerAuth: []
      parameters:
        - name: module
          in: query
          schema:
            type: string
          description: Filter by module name
      responses:
        "200":
          description: Module configuration
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ModuleConfig"
        "401":
          description: Unauthorized

  /v1/modules/{name}/tools:
    put:
      operationId: upsertToolSettings
      summary: Update tool enable/disable settings for a module
      tags: [modules]
      security:
        - bearerAuth: []
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: Module name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertToolSettingsBody"
      responses:
        "200":
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpsertToolSettingsResult"
        "401":
          description: Unauthorized

  /v1/modules/{name}/description:
    put:
      operationId: upsertModuleDescription
      summary: Update module description
      tags: [modules]
      security:
        - bearerAuth: []
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: Module name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertModuleDescriptionBody"
      responses:
        "200":
          description: Description updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResult"
        "401":
          description: Unauthorized

  # ── API Keys ───────────────────────────────────────────────
  /v1/api-keys:
    get:
      operationId: listApiKeys
      summary: List API keys
      tags: [api-keys]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: API key list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ApiKey"
        "401":
          description: Unauthorized
    post:
      operationId: generateApiKey
      summary: Generate a new API key
      tags: [api-keys]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateApiKeyBody"
      responses:
        "200":
          description: Generated API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateApiKeyResult"
        "401":
          description: Unauthorized

  /v1/api-keys/{id}:
    delete:
      operationId: revokeApiKey
      summary: Revoke an API key
      tags: [api-keys]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: API key ID
      responses:
        "200":
          description: API key revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResult"
        "401":
          description: Unauthorized

  # ── Prompts ────────────────────────────────────────────────
  /v1/prompts:
    get:
      operationId: listPrompts
      summary: List prompts
      tags: [prompts]
      security:
        - bearerAuth: []
      parameters:
        - name: module
          in: query
          schema:
            type: string
          description: Filter by module name
      responses:
        "200":
          description: Prompt list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Prompt"
        "401":
          description: Unauthorized
    put:
      operationId: upsertPrompt
      summary: Create or update a prompt
      tags: [prompts]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertPromptBody"
      responses:
        "200":
          description: Prompt created or updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpsertPromptResult"
        "401":
          description: Unauthorized

  /v1/prompts/{id}:
    get:
      operationId: getPrompt
      summary: Get a prompt by ID
      tags: [prompts]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Prompt ID
      responses:
        "200":
          description: Prompt detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPromptResult"
        "401":
          description: Unauthorized
    delete:
      operationId: deletePrompt
      summary: Delete a prompt
      tags: [prompts]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Prompt ID
      responses:
        "200":
          description: Prompt deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletePromptResult"
        "401":
          description: Unauthorized

  # ── Credentials ────────────────────────────────────────────
  /v1/credentials:
    get:
      operationId: listCredentials
      summary: List stored credentials
      tags: [credentials]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Credential list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Credential"
        "401":
          description: Unauthorized
    put:
      operationId: upsertCredential
      summary: Create or update credentials for a module
      tags: [credentials]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertCredentialBody"
      responses:
        "200":
          description: Credential saved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpsertCredentialResult"
        "401":
          description: Unauthorized

  /v1/credentials/{module}:
    delete:
      operationId: deleteCredential
      summary: Delete credentials for a module
      tags: [credentials]
      security:
        - bearerAuth: []
      parameters:
        - name: module
          in: path
          required: true
          schema:
            type: string
          description: Module identifier
      responses:
        "200":
          description: Credential deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResult"
        "401":
          description: Unauthorized

  # ── User ───────────────────────────────────────────────────
  /v1/user/context:
    get:
      operationId: getUserContext
      summary: Get current user context
      description: Returns user information including role, plan, and usage data.
      tags: [user]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User context
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserContext"
        "401":
          description: Unauthorized

  /v1/user/usage:
    get:
      operationId: getUsage
      summary: Get usage statistics
      tags: [user]
      security:
        - bearerAuth: []
      parameters:
        - name: start
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Start date (ISO 8601)
        - name: end
          in: query
          required: true
          schema:
            type: string
            format: date
          description: End date (ISO 8601)
      responses:
        "200":
          description: Usage data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageData"
        "401":
          description: Unauthorized

  /v1/user/stripe:
    get:
      operationId: getStripeCustomerId
      summary: Get linked Stripe customer ID
      tags: [user]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Stripe customer info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StripeCustomer"
        "401":
          description: Unauthorized
    put:
      operationId: linkStripeCustomer
      summary: Link a Stripe customer ID
      tags: [user]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkStripeCustomerBody"
      responses:
        "200":
          description: Stripe customer linked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResult"
        "401":
          description: Unauthorized

  /v1/user/settings:
    put:
      operationId: updateSettings
      summary: Update user settings
      tags: [user]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSettingsBody"
      responses:
        "200":
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResult"
        "401":
          description: Unauthorized

  /v1/user/onboarding:
    post:
      operationId: completeUserOnboarding
      summary: Complete a user onboarding step
      tags: [user]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteOnboardingBody"
      responses:
        "200":
          description: Onboarding step completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnboardingResult"
        "401":
          description: Unauthorized

  # ── OAuth ──────────────────────────────────────────────────
  /v1/oauth/apps/{provider}/credentials:
    get:
      operationId: getOAuthAppCredentials
      summary: Get OAuth app credentials for a provider
      tags: [oauth]
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
          description: OAuth provider identifier (e.g. github, google)
      responses:
        "200":
          description: OAuth app credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthAppCredentials"

  /v1/oauth/consents:
    get:
      operationId: listOAuthConsents
      summary: List OAuth consents
      tags: [oauth]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OAuth consent list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OAuthConsent"
        "401":
          description: Unauthorized

  /v1/oauth/consents/{id}:
    delete:
      operationId: revokeOAuthConsent
      summary: Revoke an OAuth consent
      tags: [oauth]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Consent ID
      responses:
        "200":
          description: Consent revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeConsentResult"
        "401":
          description: Unauthorized

  # ── Admin ──────────────────────────────────────────────────
  /v1/admin/oauth/apps:
    get:
      operationId: listOAuthApps
      summary: List all OAuth apps (admin only)
      tags: [admin]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OAuth app list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OAuthApp"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden — admin role required
    put:
      operationId: upsertOAuthApp
      summary: Create or update an OAuth app (admin only)
      tags: [admin]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertOAuthAppBody"
      responses:
        "200":
          description: OAuth app saved
        "401":
          description: Unauthorized
        "403":
          description: Forbidden — admin role required

  /v1/admin/oauth/apps/{provider}:
    delete:
      operationId: deleteOAuthApp
      summary: Delete an OAuth app (admin only)
      tags: [admin]
      security:
        - bearerAuth: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
          description: OAuth provider identifier
      responses:
        "200":
          description: OAuth app deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden — admin role required

  /v1/admin/oauth/consents:
    get:
      operationId: listAllOAuthConsents
      summary: List all OAuth consents across users (admin only)
      tags: [admin]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: All OAuth consents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OAuthConsentAdmin"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden — admin role required

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: JWT access token or MCPist API key (mpt_xxx)

  schemas:
    # ── Modules ──
    ModuleWithTools:
      type: object
      required: [id, name, status]
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        descriptions:
          type: object
          additionalProperties:
            type: string
        tools:
          type: array
          items:
            type: object
            additionalProperties: true

    ModuleConfig:
      type: object
      required: [module_name, tool_id, enabled]
      properties:
        module_name:
          type: string
        description:
          type: string
          nullable: true
        tool_id:
          type: string
        enabled:
          type: boolean

    UpsertToolSettingsBody:
      type: object
      required: [enabled_tools, disabled_tools]
      properties:
        enabled_tools:
          type: array
          items:
            type: string
        disabled_tools:
          type: array
          items:
            type: string

    UpsertToolSettingsResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        enabled_count:
          type: integer
        disabled_count:
          type: integer

    UpsertModuleDescriptionBody:
      type: object
      required: [description]
      properties:
        description:
          type: string

    # ── API Keys ──
    ApiKey:
      type: object
      required: [id, key_prefix, display_name]
      properties:
        id:
          type: string
          format: uuid
        key_prefix:
          type: string
        display_name:
          type: string
        expires_at:
          type: string
          format: date-time
          nullable: true
        last_used_at:
          type: string
          format: date-time
          nullable: true
        revoked_at:
          type: string
          format: date-time
          nullable: true

    GenerateApiKeyBody:
      type: object
      required: [display_name]
      properties:
        display_name:
          type: string
        expires_at:
          type: string
          format: date-time
          description: Expiration timestamp (optional)

    GenerateApiKeyResult:
      type: object
      required: [api_key, key_prefix]
      properties:
        api_key:
          type: string
          description: Full API key (only returned at creation time)
        key_prefix:
          type: string

    # ── Prompts ──
    Prompt:
      type: object
      required: [id, name, content, enabled, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        module_name:
          type: string
          nullable: true
        name:
          type: string
        description:
          type: string
          nullable: true
        content:
          type: string
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    GetPromptResult:
      type: object
      required: [found]
      properties:
        found:
          type: boolean
        id:
          type: string
          format: uuid
        module_name:
          type: string
          nullable: true
        name:
          type: string
        description:
          type: string
          nullable: true
        content:
          type: string
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        error:
          type: string

    UpsertPromptBody:
      type: object
      required: [name, content, enabled]
      properties:
        prompt_id:
          type: string
          format: uuid
          description: Omit to create, include to update
        name:
          type: string
        content:
          type: string
        module_name:
          type: string
        enabled:
          type: boolean
        description:
          type: string

    UpsertPromptResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        id:
          type: string
          format: uuid
        action:
          type: string
        error:
          type: string

    DeletePromptResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        error:
          type: string

    # ── Credentials ──
    Credential:
      type: object
      required: [module, created_at, updated_at]
      properties:
        module:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UpsertCredentialBody:
      type: object
      required: [module, credentials]
      properties:
        module:
          type: string
          description: Module identifier (e.g. github, notion)
        credentials:
          type: object
          additionalProperties: true
          description: Credential data (access_token, refresh_token, etc.)

    UpsertCredentialResult:
      type: object
      required: [success, module]
      properties:
        success:
          type: boolean
        module:
          type: string

    SuccessResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean

    # ── User ──
    UserContext:
      type: object
      required: [account_status, plan_id, daily_used, daily_limit, role, connected_count]
      properties:
        account_status:
          type: string
        plan_id:
          type: string
        daily_used:
          type: integer
        daily_limit:
          type: integer
        enabled_modules:
          type: array
          items:
            type: string
        enabled_tools:
          type: object
          additionalProperties: true
        language:
          type: string
        module_descriptions:
          type: object
          additionalProperties: true
        role:
          type: string
        settings:
          type: object
          additionalProperties: true
          nullable: true
        display_name:
          type: string
          nullable: true
        connected_count:
          type: integer

    UsageData:
      type: object
      required: [total_used, by_module, period]
      properties:
        total_used:
          type: integer
        by_module:
          type: object
          additionalProperties:
            type: integer
        period:
          type: object
          required: [start, end]
          properties:
            start:
              type: string
            end:
              type: string

    StripeCustomer:
      type: object
      properties:
        stripe_customer_id:
          type: string
          nullable: true

    LinkStripeCustomerBody:
      type: object
      required: [stripe_customer_id]
      properties:
        stripe_customer_id:
          type: string

    UpdateSettingsBody:
      type: object
      required: [settings]
      properties:
        settings:
          type: object
          additionalProperties: true
          description: User settings object

    CompleteOnboardingBody:
      type: object
      required: [event_id]
      properties:
        event_id:
          type: string

    OnboardingResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        already_completed:
          type: boolean
        plan_id:
          type: string
        error:
          type: string
        message:
          type: string

    # ── OAuth ──
    OAuthAppCredentials:
      type: object
      required: [client_id, client_secret, redirect_uri]
      properties:
        provider:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        redirect_uri:
          type: string
        scopes:
          type: string
        error:
          type: string
        message:
          type: string

    OAuthConsent:
      type: object
      required: [id, client_id, scopes, granted_at]
      properties:
        id:
          type: string
          format: uuid
        client_id:
          type: string
        client_name:
          type: string
          nullable: true
        scopes:
          type: string
        granted_at:
          type: string
          format: date-time

    OAuthConsentAdmin:
      type: object
      required: [id, client_id, scopes, granted_at, user_id]
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
        user_email:
          type: string
          nullable: true
        client_id:
          type: string
        client_name:
          type: string
          nullable: true
        scopes:
          type: string
        granted_at:
          type: string
          format: date-time

    RevokeConsentResult:
      type: object
      properties:
        revoked:
          type: boolean

    # ── Admin ──
    OAuthApp:
      type: object
      properties:
        provider:
          type: string
        client_id:
          type: string
        redirect_uri:
          type: string
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time

    UpsertOAuthAppBody:
      type: object
      required: [provider, client_id, client_secret, redirect_uri, enabled]
      properties:
        provider:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        redirect_uri:
          type: string
        enabled:
          type: boolean
