openapi: "3.1.0"
info:
  title: MCPist API
  version: "1.0.0"
  description: >-
    MCPist API — connect AI assistants to external tools
    via the Model Context Protocol (MCP).

servers:
  - url: https://mcp.mcpist.app
    description: Production
  - url: https://mcp.dev.mcpist.app
    description: Development

paths:
  # ── System ───────────────────────────────────────────────────
  /health:
    get:
      operationId: getHealth
      summary: Health check
      tags: [system]
      responses:
        "200":
          description: Service is healthy

  /openapi.json:
    get:
      operationId: getOpenApiSpec
      summary: OpenAPI specification
      tags: [system]
      responses:
        "200":
          description: OpenAPI 3.1 JSON document

  # ── OAuth Discovery ──────────────────────────────────────────
  /.well-known/oauth-protected-resource:
    get:
      operationId: getOAuthProtectedResource
      summary: OAuth Protected Resource Metadata (RFC 9728)
      tags: [oauth-discovery]
      responses:
        "200":
          description: Protected resource metadata JSON

  /.well-known/oauth-authorization-server:
    get:
      operationId: getOAuthAuthorizationServer
      summary: OAuth Authorization Server Metadata (RFC 8414)
      tags: [oauth-discovery]
      responses:
        "200":
          description: Authorization server metadata JSON

  /v1/mcp/.well-known/oauth-protected-resource:
    get:
      operationId: getV1McpOAuthProtectedResource
      summary: MCP-scoped OAuth Protected Resource Metadata
      tags: [oauth-discovery]
      responses:
        "200":
          description: Protected resource metadata JSON

  /v1/mcp/.well-known/oauth-authorization-server:
    get:
      operationId: getV1McpOAuthAuthorizationServer
      summary: MCP-scoped OAuth Authorization Server Metadata
      tags: [oauth-discovery]
      responses:
        "200":
          description: Authorization server metadata JSON

  # ── MCP Transport ──────────────────────────────────────────
  /v1/mcp/{path}:
    post:
      operationId: mcpTransport
      summary: MCP transport endpoint (Streamable HTTP)
      description: >-
        Accepts MCP protocol messages (JSON-RPC 2.0) and returns responses.
        Supports initialize, tools/list, tools/call, prompts/list, prompts/get,
        and other standard MCP methods.
      tags: [mcp]
      security:
        - bearerAuth: []
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: MCP transport sub-path
      responses:
        "200":
          description: MCP JSON-RPC response
        "401":
          description: Unauthorized
        "503":
          description: Service unavailable

  # ── Modules (public + user-scoped) ─────────────────────────
  /v1/modules:
    get:
      operationId: listModules
      summary: List available modules with their tools
      tags: [modules]
      responses:
        "200":
          description: Module list with tool definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ModuleWithTools"

  /v1/modules/config:
    get:
      operationId: getModuleConfig
      summary: Get module configuration
      tags: [modules]
      security:
        - bearerAuth: []
      parameters:
        - name: module
          in: query
          schema:
            type: string
          description: Filter by module name
      responses:
        "200":
          description: Module configuration
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ModuleConfig"
        "401":
          description: Unauthorized

  /v1/modules/{name}/tools:
    put:
      operationId: upsertToolSettings
      summary: Update tool enable/disable settings for a module
      tags: [modules]
      security:
        - bearerAuth: []
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: Module name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertToolSettingsBody"
      responses:
        "200":
          description: Settings updated
        "401":
          description: Unauthorized

  /v1/modules/{name}/description:
    put:
      operationId: upsertModuleDescription
      summary: Update module description
      tags: [modules]
      security:
        - bearerAuth: []
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: Module name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertModuleDescriptionBody"
      responses:
        "200":
          description: Description updated
        "401":
          description: Unauthorized

  # ── API Keys ───────────────────────────────────────────────
  /v1/api-keys:
    get:
      operationId: listApiKeys
      summary: List API keys
      tags: [api-keys]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: API key list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ApiKey"
        "401":
          description: Unauthorized
    post:
      operationId: generateApiKey
      summary: Generate a new API key
      tags: [api-keys]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateApiKeyBody"
      responses:
        "200":
          description: Generated API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateApiKeyResult"
        "401":
          description: Unauthorized

  /v1/api-keys/{id}:
    delete:
      operationId: revokeApiKey
      summary: Revoke an API key
      tags: [api-keys]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: API key ID
      responses:
        "200":
          description: API key revoked
        "401":
          description: Unauthorized

  # ── Prompts ────────────────────────────────────────────────
  /v1/prompts:
    get:
      operationId: listPrompts
      summary: List prompts
      tags: [prompts]
      security:
        - bearerAuth: []
      parameters:
        - name: module
          in: query
          schema:
            type: string
          description: Filter by module name
      responses:
        "200":
          description: Prompt list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Prompt"
        "401":
          description: Unauthorized
    put:
      operationId: upsertPrompt
      summary: Create or update a prompt
      tags: [prompts]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertPromptBody"
      responses:
        "200":
          description: Prompt created or updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prompt"
        "401":
          description: Unauthorized

  /v1/prompts/{id}:
    get:
      operationId: getPrompt
      summary: Get a prompt by ID
      tags: [prompts]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Prompt ID
      responses:
        "200":
          description: Prompt detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prompt"
        "401":
          description: Unauthorized
    delete:
      operationId: deletePrompt
      summary: Delete a prompt
      tags: [prompts]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Prompt ID
      responses:
        "200":
          description: Prompt deleted
        "401":
          description: Unauthorized

  # ── Credentials ────────────────────────────────────────────
  /v1/credentials:
    get:
      operationId: listCredentials
      summary: List stored credentials
      tags: [credentials]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Credential list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Credential"
        "401":
          description: Unauthorized
    put:
      operationId: upsertCredential
      summary: Create or update credentials for a module
      tags: [credentials]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertCredentialBody"
      responses:
        "200":
          description: Credential saved
        "401":
          description: Unauthorized

  /v1/credentials/{module}:
    delete:
      operationId: deleteCredential
      summary: Delete credentials for a module
      tags: [credentials]
      security:
        - bearerAuth: []
      parameters:
        - name: module
          in: path
          required: true
          schema:
            type: string
          description: Module identifier
      responses:
        "200":
          description: Credential deleted
        "401":
          description: Unauthorized

  # ── User ───────────────────────────────────────────────────
  /v1/user/context:
    get:
      operationId: getUserContext
      summary: Get current user context
      description: Returns user information including role, plan, and usage data.
      tags: [user]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserContext"
        "401":
          description: Unauthorized

  /v1/user/usage:
    get:
      operationId: getUsage
      summary: Get usage statistics
      tags: [user]
      security:
        - bearerAuth: []
      parameters:
        - name: start
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Start date (ISO 8601)
        - name: end
          in: query
          required: true
          schema:
            type: string
            format: date
          description: End date (ISO 8601)
      responses:
        "200":
          description: Usage data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageData"
        "401":
          description: Unauthorized

  /v1/user/stripe:
    get:
      operationId: getStripeCustomerId
      summary: Get linked Stripe customer ID
      tags: [user]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Stripe customer info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StripeCustomer"
        "401":
          description: Unauthorized
    put:
      operationId: linkStripeCustomer
      summary: Link a Stripe customer ID
      tags: [user]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkStripeCustomerBody"
      responses:
        "200":
          description: Stripe customer linked
        "401":
          description: Unauthorized

  /v1/user/settings:
    put:
      operationId: updateSettings
      summary: Update user settings
      tags: [user]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSettingsBody"
      responses:
        "200":
          description: Settings updated
        "401":
          description: Unauthorized

  /v1/user/onboarding:
    post:
      operationId: completeUserOnboarding
      summary: Complete a user onboarding step
      tags: [user]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteOnboardingBody"
      responses:
        "200":
          description: Onboarding step completed
        "401":
          description: Unauthorized

  # ── OAuth ──────────────────────────────────────────────────
  /v1/oauth/apps/{provider}/credentials:
    get:
      operationId: getOAuthAppCredentials
      summary: Get OAuth app credentials for a provider
      tags: [oauth]
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
          description: OAuth provider identifier (e.g. github, google)
      responses:
        "200":
          description: OAuth app credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthAppCredentials"

  /v1/oauth/consents:
    get:
      operationId: listOAuthConsents
      summary: List OAuth consents
      tags: [oauth]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OAuth consent list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OAuthConsent"
        "401":
          description: Unauthorized

  /v1/oauth/consents/{id}:
    delete:
      operationId: revokeOAuthConsent
      summary: Revoke an OAuth consent
      tags: [oauth]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Consent ID
      responses:
        "200":
          description: Consent revoked
        "401":
          description: Unauthorized

  # ── Admin ──────────────────────────────────────────────────
  /v1/admin/oauth/apps:
    get:
      operationId: listOAuthApps
      summary: List all OAuth apps (admin only)
      tags: [admin]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OAuth app list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OAuthApp"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden — admin role required
    put:
      operationId: upsertOAuthApp
      summary: Create or update an OAuth app (admin only)
      tags: [admin]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertOAuthAppBody"
      responses:
        "200":
          description: OAuth app saved
        "401":
          description: Unauthorized
        "403":
          description: Forbidden — admin role required

  /v1/admin/oauth/apps/{provider}:
    delete:
      operationId: deleteOAuthApp
      summary: Delete an OAuth app (admin only)
      tags: [admin]
      security:
        - bearerAuth: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
          description: OAuth provider identifier
      responses:
        "200":
          description: OAuth app deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden — admin role required

  /v1/admin/oauth/consents:
    get:
      operationId: listAllOAuthConsents
      summary: List all OAuth consents across users (admin only)
      tags: [admin]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: All OAuth consents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OAuthConsent"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden — admin role required

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: JWT access token or MCPist API key (mpt_xxx)

  schemas:
    # ── Modules ──
    ModuleWithTools:
      type: object
      properties:
        module_name:
          type: string
        description:
          type: string
        tools:
          type: array
          items:
            type: object

    ModuleConfig:
      type: object
      properties:
        module_name:
          type: string
        enabled_tools:
          type: array
          items:
            type: string
        disabled_tools:
          type: array
          items:
            type: string
        description:
          type: string

    UpsertToolSettingsBody:
      type: object
      required: [enabled_tools, disabled_tools]
      properties:
        enabled_tools:
          type: array
          items:
            type: string
        disabled_tools:
          type: array
          items:
            type: string

    UpsertModuleDescriptionBody:
      type: object
      required: [description]
      properties:
        description:
          type: string

    # ── API Keys ──
    ApiKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
        display_name:
          type: string
        prefix:
          type: string
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time

    GenerateApiKeyBody:
      type: object
      required: [display_name]
      properties:
        display_name:
          type: string
        expires_at:
          type: string
          format: date-time
          description: Expiration timestamp (optional)

    GenerateApiKeyResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        api_key:
          type: string
          description: Full API key (only returned at creation time)
        display_name:
          type: string
        prefix:
          type: string
        expires_at:
          type: string
          format: date-time

    # ── Prompts ──
    Prompt:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        content:
          type: string
        module_name:
          type: string
        enabled:
          type: boolean
        description:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UpsertPromptBody:
      type: object
      required: [name, content, enabled]
      properties:
        prompt_id:
          type: string
          format: uuid
          description: Omit to create, include to update
        name:
          type: string
        content:
          type: string
        module_name:
          type: string
        enabled:
          type: boolean
        description:
          type: string

    # ── Credentials ──
    Credential:
      type: object
      properties:
        module:
          type: string
        has_credentials:
          type: boolean
        updated_at:
          type: string
          format: date-time

    UpsertCredentialBody:
      type: object
      required: [module, credentials]
      properties:
        module:
          type: string
          description: Module identifier (e.g. github, notion)
        credentials:
          type: object
          description: Credential data (access_token, refresh_token, etc.)

    # ── User ──
    UserContext:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        role:
          type: string
        plan:
          type: string
        email:
          type: string

    UsageData:
      type: object
      properties:
        total_requests:
          type: integer
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date

    StripeCustomer:
      type: object
      properties:
        stripe_customer_id:
          type: string

    LinkStripeCustomerBody:
      type: object
      required: [stripe_customer_id]
      properties:
        stripe_customer_id:
          type: string

    UpdateSettingsBody:
      type: object
      required: [settings]
      properties:
        settings:
          type: object
          description: User settings object

    CompleteOnboardingBody:
      type: object
      required: [event_id]
      properties:
        event_id:
          type: string

    # ── OAuth ──
    OAuthAppCredentials:
      type: object
      properties:
        provider:
          type: string
        client_id:
          type: string
        redirect_uri:
          type: string

    OAuthConsent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        provider:
          type: string
        client_name:
          type: string
        scopes:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time

    # ── Admin ──
    OAuthApp:
      type: object
      properties:
        provider:
          type: string
        client_id:
          type: string
        redirect_uri:
          type: string
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time

    UpsertOAuthAppBody:
      type: object
      required: [provider, client_id, client_secret, redirect_uri, enabled]
      properties:
        provider:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        redirect_uri:
          type: string
        enabled:
          type: boolean
